
body {
  margin: 0;
  background-color: grey;
}

.anipersiana {
  transition: height 1s ease-out;
}

#toolbar {
  position: fixed;
  top: 0;
  background-color: red;
  height: 2px;
  width: 100%;
  padding: 1px;
  padding-left: 10px;
  z-index: 10;
}
#toolbar button {
  position: relative;
  top: -100px;
  transition: top 1s ease-out;
}
#toolbar:hover {
  height: 50px;
  padding: 10px;
}
#toolbar:hover button {
  top: 10px;
  left: 10px;
}

section {
  width: 98%;
  display: block;
  position: relative;
  top: 5px;
  margin: auto;
  margin-bottom: 30px;
}

form {
  border: solid 1px blue;
  margin: 10px;
  padding: 5px;
}

form button,
progress {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.view {
  display: none;
}
.view:target {
  display: block;

  padding: 2px;
  background-color: white;
  border: solid 1px black;
}

#main {
  margin: 0;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: right;
  font-size: 15px;
  right: -290px;
  transition: right 2s ease-in, background-color 2s ease-in;
}

footer:hover {
  right: 0px;
  background-color: white;
}

table {
  width: 100%;
}

table th {
  background-color: red;
}

table tr.par {
  background-color: lightblue;
}

table td.X {
  color: red;
}

table td.Total {
  font-weight: bold;
}

table td span.numero_linea:after {
  content: ' - ';
}
table td p {
  display: inline-block;
}

.view table {
  font-size: 20px;
}

#viewResultsView ul {
  list-style: none;
  padding: 0;
}
#viewResultsView ul li {
  display: inline-block;
  padding: 4px;
  background-color: lightblue;
  margin-right: 5px;
  cursor: pointer;
}
#viewResultsView ul li.active {
  background-color: lightyellow;
}

@media print {
  #viewResultsView {
    display: block !important;
  }
  #viewResultsView ul li {
    display: none;
  }
  #viewResultsView ul li.active {
    display: block;
    font-size: 20px;
  }
  #viewResultsView ul li.active:before {
    content: "VIII Torneo de tiro con arco en sala - San Blas 2016 - ";
  }
  .view table {
    font-size: 10px;
  }
  table td span.numero_linea {
    display: none;
  }
  #toolbar, footer {
    display: none;
  }
}

